services:
  kairos:
    container_name: kairos-broker
    hostname: kairos-broker
    image: kairosfinance.azurecr.io/kairos/broker:${IMAGE_TAG:-latest}
    restart: on-failure
    depends_on:
      - rabbitmq.kairos
      - seq.kairos
    
  seq.kairos:
    container_name: kairos-seq
    hostname: kairos-seq
    image: datalust/seq:2025.2
    ports:
      - 5341:5341
      - 8080:80
    restart: on-failure
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_ADMINPASSWORD: password
    volumes:
      - seq_data:/data

  rabbitmq.kairos:
    container_name: kairos-rabbitmq
    hostname: kairos-bus
    image: masstransit/rabbitmq:latest
    ports:
      - 5672:5672
      - 15672:15672
    restart: on-failure
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/

volumes:
  rabbitmq_data:
  seq_data: