services:
  broker.kairos:
    container_name: kairos-broker
    hostname: kairos-broker
    image: kairos/broker
    build:
      context: .
      dockerfile: ./src/Gateway/Dockerfile
    ports:
      - 80:8080
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  # exchange.kairos:
  #   container_name: kairos-exchange
  #   hostname: kairos-exchange
  #   image: kairos/exchange
  #   build:
  #     context: .
  #     dockerfile: ./src/Exchange/Dockerfile
  #   ports:
  #     - 81:8080
  #   restart: unless-stopped
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=Development
    
  log.kairos:
    container_name: kairos-log
    hostname: kairos-log
    image: datalust/seq:2025.2
    ports:
      - 5341:5341
      - 8080:80
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=password
    volumes:
      - seq_data:/data

  bus.kairos:
    container_name: kairos-bus
    hostname: kairos-bus
    image: masstransit/rabbitmq:latest
    ports:
      - 5672:5672
      - 15672:15672
    restart: unless-stopped
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/

volumes:
  rabbitmq_data:
  seq_data: