name: Deploy

on:
    workflow_dispatch:
    push:

jobs:
    test:
        runs-on: ubuntu-latest
        permissions: 
            contents: read
        steps:
            - name: Checkout to the branch
              uses: actions/checkout@v2

            - name: Install .NET SDK
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: 8.0.x

            - name: Run tests
              run: dotnet test

    staging:
        environment: staging
        runs-on: ubuntu-latest
        permissions: 
            id-token: write
            contents: read
        steps:
            - name: Deploy to Azure Container Apps
              uses: azure/container-apps-deploy-action@v2
              with:
                azureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
                appSourcePath: ${{ github.workspace }}
                dockerfilePath: ./src/Gateway/Dockerfile
                yamlConfigPath: .github/container-app.yml
                acrName: kairosfinance
                containerAppName: capp-kairos-api
                containerAppEnvironment: cae-kairos
                resourceGroup: kairos