name: Deploy

on:
  workflow_dispatch:
  push:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions: 
      contents: read
    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Run tests
        run: dotnet test

  staging:
    name: Deploy to Staging
    environment: staging
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: read
    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          azureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./src/Gateway/Dockerfile
          yamlConfigPath: .github/container-app.yml
          acrName: kairosfinance
          containerAppName: capp-kairos-api
          containerAppEnvironment: cae-kairos
          location: eastus2
          resourceGroup: kairos
          imageToBuild: kairosfinance.azurecr.io/kairos/broker:${{ github.sha }}